<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <% books.each do |book| %>
    <tr>
      <th>
        <%= link_to user_path(book.user_id) do %>
          <%= image_tag book.user.get_profile_image(100,100) %>
        <% end %>
      </th>
      <th><%= link_to book.title, book_path(book.id) %></th>
      <th><%= book.body %></th>
      <th><%= render 'favorites/favorite-btn', book: book %></th>
      <td>コメント数: <%= book.book_comments.count %></td>
    </tr>
  <% end %>
  </tbody>
</table>


